body {
    background: url(https://wi-images.condecdn.net/image/B1NZW376pxM/crop/1620/f/space_11.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: cursive, Arial;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

img, h1, p, table {

    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 1cm;
    
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3cm;
    width: 50%;

}


ul, ol {
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    list-style: none;

}
li {
    
    padding: 0.5cm;
    margin: 0.5cm;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    padding: 5px
}





/*DROPDOWN*/




/* define a fixed width for the entire menu */
.navigation {
width: 200px;
position: fixed;
}

.navigation li {
    margin: 0cm;
    padding: 0cm;
}
.navigation div {
    opacity: 1;
    color: white;
}

.navigation:hover a {
    opacity: 1;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
list-style: none;
padding: 0;
margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
display: block;
text-decoration: none;
padding: 10px;
color: whitesmoke;
opacity: 0;
}

/* add hover behaviour */
.mainmenu a:hover {
background-color: rgb(4, 0, 105);
opacity: 1;
}



/* when hovering over a .mainmenu item,
display the submenu inside it.
we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
display: block;
max-height: 200px;
}

/*
we now overwrite the background-color for .submenu links only.
CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/


/* hover behaviour for links inside .submenu */
.submenu a:hover {
background-color: rgb(4, 0, 105);
}

/* this is the initial state of all submenus.
we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
overflow: hidden;
max-height: 0;
-webkit-transition: all 0.5s ease-out;
}